@import "https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Lobster";
@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


body{
	margin:0;



}
header{ 
	height: 49px;
    width: initial; 
	background: black;
    color: white;
    padding: 9px 0px 6px 11px;
    

}
header h1 {
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin: 0px;
	margin-right: 10px;

}

nav ul{
	display: inline;
	padding: 0px;
	float: left;

}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px;

}

nav ul li a{
	color: white;
	text-decoration: none;

}
#nav {
	font-family: 'Satisfy', cursive;

}

.homered{
	background-color: red;
	padding: 30px 10px 16px 10px;
}

.divider {
	background-color: red;
	height: 5px;
}

.homeblack:hover {
	background-color: blue;
padding: 30px 10px 16px 10px;
}


.banner{
	text-align: center;
    background-image: url(../images/pic2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    padding: 217px 0;
    background-position: 100% 70%;
}

.homesub{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0% 1% 0% 55%;
	font-size: 18px;
	color: yellow;


}

.homedes{
	font-family: 'Raleway', sans-serif;
    margin: 0.5% 0% 0% 55%;
    font-size: 75px;
    color: white;
    background-color: rgba(0, 0, 0, 0.32);
    display: inline-block;

}

.homepho{
	font-family: 'Oswald', sans-serif;
    margin: 0% 0% 0% 55%;
    font-size: 64px;
    display: inline-block;
    color: beige;

}
.buttonhome{
	margin: 0% 0% 0% 54%;
    background: yellow;
    color: black;
    border: none;
    height: 50px;
    font-size: 1.4em;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    outline: none;
    font-family: 'Raleway' , sans-serif;
    font-weight: 900;
}

.divider2 {
    height: 150px;
}

.jonyboy{
    padding: 0px 0px 0px 300px;
margin-left: auto;
}

.jonyboy2{
    margin: 0.5% 16% 17% 24%;
    font-size: 24px;
    padding: 0px 0px 0px 8px;
}

.banner3{
	text-align: center;
    background-image: url(../images/pic6.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    padding: 217px 0;
    background-position: 100% 70%;
}


.footer{
 	background: #33373a;
    color: #fff;
    overflow: hidden;
    padding: 10px 0;
 }
 .copyright{
 	    width: 50%;
    float: left;
    text-align: center;
 }
 .copyright p{    margin: 0;}
 .copyright p a{
 	    color: #fff;
    font-style: italic;
    letter-spacing: 2px;
 }

 .social {
 	float: left;
    width: 50%;
 }
 .social ul{
 	    margin: 0;
    padding: 0;
    text-align: center;
 }
 .social ul li {
 	list-style: none;
    display: inline-block;
 }
 .social ul li a{
 	    color: #33373a;
    font-size: 16px;
    display: block;
    background: #fff;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
 }



.article p span{    color: #fff;
    background: #383838;
    padding: 16px;
    display: inline-block;
    display: inline-block;}